.item--container--style {
    background-color: #00008B;
    text-align: center;
}

.greeting--style {
    font-size: 3rem;
    color: darkslategray;
    background-color: #010163;
    text-transform: uppercase;
}