.cart--style:hover {
    position: relative;
    background-color: hsla(195, 83%, 58%, 0.2);
}

.cart--amount--style {
    position: absolute;
    color: #fafafa;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: blueviolet;
    padding: 1.5px 3px;
    border-radius: 100px;
    transform: translate(-40%, 70%);
}