.footer__style {
    color: #fafafa;
    padding: 1rem;
    position: sticky;
    z-index: 10;
    background-color: #000000c0;
    border-top: 1px solid #fafafa;
    display: flex;
    align-items: center;
    justify-content: end;
}