.cart__container__h2 {
    text-align: center;
    font-size: 2rem;
    color: #fafafa;
}

.vaciar__carrito,
.finalizar__compra {
    text-transform: uppercase;
    font-size: 1rem;
    color: #fafafa;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50px;
}

.cart__container__buttons {
    display: flex;
    justify-content: center;
}

.vaciar__carrito {
    background-color: rgb(70, 0, 0);
    border: 3px solid rgb(70, 0, 0);
}

.finalizar__compra {
    background-color: blue;
    border: 3px solid blue;
}

.finalizar__compra:hover {
    background-color: darkblue;
    border: 3px solid orangered;
}